body{
    text-align: center;
}
div{
    height: 100px;
    width: 50px;
    display: inline-block;
    border: 2px solid black;

}
#container{
    height: 300px;
    width: 700px;
    display: flex;
    flex-direction: row;
    /* flex-direction: column-reverse; */
    justify-content: center;
    /* flex-wrap: wrap; */
    align-items: flex-start;
    /* align-content: center; */

}
#box1{
    background-color: plum;
    flex-grow: 1;
    
}
#box2{
    background-color: palevioletred;
    height: 75px;
    /* align-self: flex-end; */
    flex-grow: 2;
}
#box3{
    background-color:greenyellow;
}
#box4{
    background-color: olive;
}
#box5{
    background-color: blue;
